<div class="patient-header fixed-top">
  <%= render "display", prescription: @prescription %>
  <%= render '/shared/patientheader' %>
</div>
<br><br><br><br><br><br><br><br>
<div class="d-flex justify-content-center">
  <%= link_to 'Modifier ', edit_prescription_path(@prescription) %> |
  <%= link_to ' Retour ', patient_prescriptions_path(@prescription.patient) %> |
</div>
<div class="d-flex justify-content-center">
____________________________<br>
</div>
<div class="d-flex justify-content-center">
  <%= link_to 'Ajouter une visite liée', new_prescription_visit_path(@prescription) %>
</div>
<div class="d-flex justify-content-center">
____________________________<br>
</div>
<br> Liste des soins :<br>
<br>
<% @prescription.cares.each do |care| %>
  <%= render '/cares/show', care: care %>
<% end %>
____________________________</BR>

<% @prescription.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


____________________________</BR>

<br> Liste des visites liées :<br>
<br>
<% @prescription.visits.each do |visit| %>
  <%= link_to visit_path(visit.id) do %>
    <%= [visit.id] %> : <%= visit.date %>
  <% end %>
  <br>
<% end %>
____________________________</BR>

<div class="d-flex justify-content-center">
  <div class="alert alert-danger" role="alert">
    <%= link_to 'Supprimer',
          prescription_path(@prescription),
          method: :delete,
          data: { confirm: "êtes-vous certain de vouloir supprimer cette prescription et toutes ses visites et CR liées?" } %>
  </div>

</div>
