<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">

      <div class="header-day">
        <h3>S 34 - January</h3>
        <div class="week">
          <% (0..4).to_a.each do |d| %>
            <%= link_to visits_path(params: {delay: d}), class: "day #{"active" if @delay == d}" do %>
            <p><%= @days[Time.new.wday + d - 1].first(2) %></p>
            <p><%= Date.today.day + d %></p>
          <% end %>
          <% end %>
        </div>
      </div>

      <% @visits.each do |visit| %>
        <div class="card-visit">
          <%= link_to visit_path(visit) do %>
            <div class="card-visit-info">
              <h2><%= visit.patient.first_name %> <%= visit.patient.last_name %></h2>
              <p><%= visit.patient.address %></p>
              <p><%= visit.patient.compl_address %></p>
              <p><%= visit.patient.phone %></p>
            </div>
          <% end %>
          <div class="not-done">
            <i class="fas fa-check"></i>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
