<div class="container">
  <div class="row patient-form">
    <div class="col-12 col-md-6 col-lg-4">
      <h2>Ajouter un nouveau rendez-vous</h2>
      <%= simple_form_for(@visit) do |f| %>
        <%= f.input :date %>
        <%= f.input :wish_time %>
        <%= f.input :patient , collection: Patient.all %>
        <%= f.submit "Ajouter", class: "btn button" %>
      <% end %>
    </div>
  </div>
</div>
