<div class="patient-header fixed-top">
  <div class="patient-info">
    <h2><%=@visit.prescription.patient.first_name%> <%=@visit.prescription.patient.last_name%></h2>
    <p><%=@visit.prescription.patient.address%></p>
    <p><%=@visit.prescription.patient.compl_address%></p>
    <a href="tel:<%= @visit.prescription.patient.phone %>"><i class="fas fa-mobile-alt mt-1"></i> <%= @visit.prescription.patient.phone %></a>
  </div>
  <%= render '/shared/patientheader' %>
</div>
<div class="container">
  <div class="row header-margin">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card_care">
        <p>Horaire souhaité : <%=@visit.get_wish_time%></p>
        <h3>Liste des soins</h3>
        <div class="cares">
          <% @visit.cares.each do |care| %>
            <%= render '/cares/show', care: care %>
          <% end %>
        </div>
      </div>
      <% if @visit&.minutes.last %>
        <br>
        <%= render '/visits/last_minute', visit: @visit %>
      <% end %>
      <br>
      <%= render '/minutes/create' , visit: @visit, minute: @minute %>
      <span id="debug-footer" class="m-3 p-3">  </span>
    </div>
  </div>
</div>
