<div class="patient-header">
  <div class="patient-info">
    <%=@visit.patient.first_name%> <%=@visit.patient.last_name%><br>
    <%=@visit.patient.address%><br>
    <%=@visit.patient.phone%><br>
    <%=@visit.patient.compl_address%>
  </div>
  <%= render '/shared/patientheader' %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <p>Horaire souhaité : <%=@visit.wish_time%>h-<%=@visit.wish_time+1%>h</p>
      <div class="card_care">
        <h3>Liste des soins</h3>
        <div class="cares">
          <% @visit.cares.each do |care| %>
            <%= render '/cares/show', care: care %>
          <% end %>
        </div>
      </div>
      <% if @visit&.minutes.last %>
        <br>
        <%= render '/visits/last_minute', visit: @visit %>
      <% end %>
      <br>
      <%= render '/minutes/create' , visit: @visit, minute: @minute %>
      <span id="debug-footer" class="m-5 p-5">  </span>
    </div>
  </div>
</div>
