<div class="patient-header">
  <div class="patient-info">
    <%=@visit.patient.first_name%> <%=@visit.patient.last_name%><br>
    <%=@visit.patient.address%><br>
    <%=@visit.patient.compl_address%><br>
    <%=@visit.patient.phone%>
  </div>
  <%= render '/shared/patientheader' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <p>Horaire souhaité : <%=@visit.wish_time%>h-<%=@visit.wish_time+1%>h</p>
      <div class="card_care">
        <h3>Liste de soins</h3>
        <div class="cares">
          <% @visit.cares.each do |care| %>
            <%= render '/cares/show', care: care %>
          <% end %>
        </div>
      </div>
      <% if @visit&.minutes.last %>
        <br>
        <%= render 'last_minute', visit: @visit %>
      <% end %>
      <br>
      <%#= render 'minute/create', [@visit, @minute] %>
    </div>
  </div>
</div>
