
<div class="card-visit-info">
  <% @visits.each_with_index do |visit, position| %>
    <h2><%= visit.patient.get_full_name %></h2>
    <p><%= visit.patient.address %></p>
    <p><%= visit.patient.compl_address %></p>
    <p>RDV : <strong><%=visit.get_wish_time%></strong></p>
    <% visit.cares.each do |care| %>
      <i class="<%= care.icon %> m-2"></i>
    <% end %>
    <%= link_to visit_path(visit, delay: visit.date), remote: true, method: :delete do%>
      <i class="far fa-times-circle"></i>
    <% end %>
  <% end %>
</div>
