<div class= "buttons">
  <%- if controller_name == 'visits' && action_name == 'show'%>
    <div><%= link_to "Visite", visit_path, class: "button_disabled left"%></div>
    <% if @last_visit_done %>
      <div><%= link_to "Détails", patient_path(@visit.patient, anchor: "anchor-#{@last_visit_done.id}"), class: "button-active right"%></div>
    <% else %>
      <div><%= link_to "Détails", patient_path(@visit.patient), class: "button-active right"%></div>
    <% end %>
  <% end %>
  <%- if controller_name == 'patients' && action_name == 'show'%>
    <% if @patient.visits.count != 0 %>
    <%= link_to "Visite", visit_path(@patient.visits.last), class: "button-active left"%>
    <% else %>
    <%= link_to "Visite", nil, class: "button-active left"%>
    <% end %>
    <%= link_to "Détails", patient_path, class: "button_disabled right"%>
  <% end %>
</div>
