<div class="add_minute">
  <h3>Ajouter un compte-rendu</h3>

  <div>
    <%= simple_form_for [visit, minute] do |f| %>
      <%= link_to "#", id:"fake-photo-selector" do %>
        <%# # Ce click browse les photoq mais ne les enregistre pas dans l'input %>
        <i class="far fa-image"></i>
      <% end %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="minute-content">
    <%= simple_form_for [visit, minute] do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true },
        label: "<i class='fas fa-upload'></i>".html_safe %>
      <%= f.input :content, label: false, input_html: { rows: 1} %>
      <%= button_tag type: 'submit', label: false, class: "btn btn-link p-0", id: "minute-submit" do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>
