<div class="add_minute">
  <h3>Ajouter un compte-rendu</h3>
  <div class="minute-content">
    <%= simple_form_for [@visit, @minute] do |f| %>
      <%= f.input :content, label: false, input_html: { rows: 1} %>
      <%= link_to visit_minutes_path(@visit, @minute), method: :post do %>
          <i class="fas fa-paper-plane"></i>
      <% end %>
      <%= f.submit %>
    <% end %>
    <%= link_to visit_minutes_path(@visit, @minute), method: :post do%>
        <i class="fas fa-paper-plane"></i>
    <% end %>
  </div>
</div>
