<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="header-day">
        <div class="d-flex justify-content-between">
          <h3>Rechercher un patient</h3>
        </div>
        <%= simple_form_for :search, url: patients_path, method: :get do |f| %>
          <div class="search-form-control form-group">
             <input class="form-control string required" type="search" name="search" id="search" />
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
          </div>
        <% end %>
        <% if params[:search] %>
          <% if @patients.count > 1 %>
            <p><%= @patients.count %> résultats trouvés</p>
          <% elsif @patients.count == 1 %>
            <p><%= @patients.count %> résultat trouvé</p>
          <% else %>
            <p>Nous n'avons pas trouvé de résultats pour votre recherche</p>
          <% end %>
        <% end %>
      </div>
      <% @patients.each do |patient| %>
        <div class="card-visit">
          <%= link_to patient_path(patient) do %>
            <div class="card-visit-info">
              <h2><%= patient.get_full_name %></h2>
              <p><%= patient.address %></p>
              <p><%= patient.compl_address %></p>
              <p><%= patient.phone %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
