<div class="patient-header">
  <div class="patient-info">
    <%=@patient.first_name%> <%=@patient.last_name%><br>
    <%=@patient.address%><br>
    <%=@patient.phone%><br>
    <%=@patient.compl_address%>
  </div>
  <%= render '/shared/patientheader' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <% @patient.visits.each do |visit| %>
      <div class="minute-history">
        <p class="text-center"><%= visit.date %></p>
        <div class="card_care">
          <div class="cares">
            <% visit.cares.each do |care| %>
            <%= render '/cares/show', care: care %>
            <% end %>
          </div>
        </div>
        <% visit.minutes.each do |minutes| %>
        <p><%=minutes.content%></p>
        <p><%= visit.user.first_name %> <%= visit.user.last_name %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
