<div class="patient-header fixed-top">
  <div class="patient-info">
    <h2><%=@patient.first_name%> <%=@patient.last_name%></h2>
    <p><%=@patient.address%></p>
    <p><%=@patient.phone%></p>
    <p><%=@patient.compl_address%></p>
  </div>
  <%= render '/shared/patientheader' %>
</div>

<div class="container header-margin">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <% @patient.visits.each do |visit| %>
      <div class="minute-history">
        <h4 class="text-center"><%= visit.date %></h4>
        <div class="card_care">
          <div class="cares">
            <% visit.cares.each do |care| %>
            <%= render '/cares/show', care: care %>
            <% end %>
          </div>
        </div>
        <% visit.minutes.each do |minutes| %>
        <p id="minute-content"> <i class="fas fa-phone-volume"></i> <%=minutes.content%></p>
        <h4><%= visit.user.first_name %> <%= visit.user.last_name %></h4>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
