<div class="header-home">
  <h2>Bonjour</h2>
  <h1><%= current_user.get_full_name %></h1>
    <p><%= l(Time.now, format: :long) %></p>
    <p id="meteo-infos" data-lng="<%=current_user.longitude%>" data-lat="<%=current_user.latitude%>"></p>
    <img  id="meteo-icon" src="" alt="Weather Icon" id="icon">
    <%= cl_image_tag(current_user.avatar.key, :transformation=>[
    {:width=>400, :height=>400, :gravity=>"face", :crop=>"thumb"}
    ], id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item", method:"delete" %>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <% time_array = [] %>
      <% @visits.each_with_index do |visit, index| %>
        <div class="time-line-card">
          <div class= "timeline">
            <% if !time_array.include? visit.wish_time %>
              <p><%= visit.wish_time %>h</p>
              <% time_array << visit.wish_time %>
              <div class= "line-80"></div>
            <% else %>
              <div class= "line-120"></div>
            <% end %>
          </div>
          <div class="card-visit-home"  id="visit-<%=visit.id%>">
            <%= link_to visit_path(visit) do %>
              <div class="card-visit-home-info">
                <h2><%= visit.position + 1 %>/<%= @today_visits.length %> : <%= visit.patient.get_full_name %></h2>
                <p><%= visit.patient.address %></p>
                <p><%= visit.patient.compl_address %></p>
                <p>RDV : <strong><%=visit.get_wish_time%></strong></p>
                <% care_duration = 0 %>
                  <% visit.cares.each do |care| %>
                    <i class="<%= care.icon %> m-2"></i>
                    <% care_duration += care.duration %>
                  <% end %>
                  <%= care_duration %>
              </div>
            <% end %>
            <%= link_to mark_as_done_visit_path(visit, format:"dashboards"), remote: true, method: :patch do%>
              <div class="<%= visit.is_done ? 'done far fa-check-circle' : 'not-done far fa-circle'%>">
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

