<div class="header-home">
  <h1><%= "Hello #{current_user.get_full_name}" %></h1>
  <p><%= l(Time.now, format: :long) %></p>
    <%= cl_image_tag(current_user.avatar.key, :transformation=>[
    {:width=>400, :height=>400, :gravity=>"face", :crop=>"thumb"}
    ]) %>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <% @visits.each_with_index do |visit, index| %>
        <div class="card-visit-home"  id="visit-<%=visit.id%>">
          <%= link_to visit_path(visit) do %>
            <div class="card-visit-home-info">
              <h2><%= visit.position + 1 %>/<%= @today_visits.length %> : <%= visit.patient.get_full_name %></h2>
              <p><%= visit.patient.address %></p>
              <p><%= visit.patient.compl_address %></p>
              <p>RDV : <strong><%=visit.wish_time%>h-<%=visit.wish_time+1%>h</strong></p>
                <% visit.cares.each do |care| %>
                  <i class="<%= care.icon %> m-2"></i>
                <% end %>
            </div>
          <% end %>
          <%= link_to mark_as_done_visit_path(visit, format:"dashboards"), remote: true, method: :patch do%>
            <div class="<%= visit.is_done ? 'done' : 'not-done'%>">
              <i class="fas fa-check"></i>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

