<div class="header-home">
  <h1><%= "Hello #{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h1>
    <p><%= l Time.now, format: :long %></p>
</div>


<!--Call avatar.attach to attach an avatar to an existing user:-->
<!--Current.user.avatar.attach(params[:avatar])-->

<!--Display avatar with face dectection-->
<!-- <#%= cl_image_tag("IMAGE_WITH_FACE_ID", width: 150, height: 150, crop: :thumb, gravity: :face) %>-->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">

      <% @visits.each do |visit| %>
        <div class="card-visit">
          <%= link_to visit_path(visit) do %>
            <div class="card-visit-info">
              <h2><%= visit.patient.first_name %> <%= visit.patient.last_name %></h2>
              <p><%= visit.patient.address %></p>
              <p><%= visit.patient.compl_address %></p>
              <p><%= visit.patient.phone %></p>
            </div>
          <% end %>
          <div class="done">
            <i class="fas fa-check"></i>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
